# Секреты и ключи (НИКОГДА не загружаем)
.env
Новый текстовый документ.txt

# Базы данных и временные файлы
users.db
*.db
__pycache__/
*.pyc

# Папки с бэкапами и лишние файлы
copy/
*.jpg
*.jpeg
*.png
*.pdf